<template>
    <v-layout>
        <v-flex>
            <v-card>
                <v-card-title>{{item.name}}</v-card-title>
                <v-card-text>{{item.discription}}</v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "CatalogSectionListItem",
        props: {
            item: {
                type: Object
            }
        }
    }
</script>

<style scoped>

</style>