<template>
    <v-app>
        <v-container fluid>
            <catalog-list-item v-for="item in items"
                               :key="item.id"
                               :item="item">
            </catalog-list-item>
        </v-container>
    </v-app>
</template>

<script>
    import CatalogListItem from '../components/CatalogListItem'

    export default {
        name: "CatalogList",
        components: {CatalogListItem},
        data() {
            return {
                items: [
                    {
                        id: 1,
                        name: 'Moscow',
                        price: 1000,
                        time: 10
                    },
                    {
                        id: 2,
                        name: 'Saint Petersburg',
                        price: 1200,
                        time: 10
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>