<template>
    <v-app>
        <v-navigation-drawer absolute temporary v-model="drawer" class="hidden-md-and-up">
            <v-list>
                <v-list-tile v-for="(item, i) in menuItems" :key="`navdrawer${i}`">
                    <v-list-tile-action>
                        <v-icon v-html="item.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="item.title"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app dark class="primary">
            <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>
            <v-toolbar-title v-text="'Briz tour'"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn v-for="(item, i) in menuItems" flat :key="`menuItems${i}`" :to="item.route">
                    <v-icon left v-html="item.icon"></v-icon>
                    {{item.title}}
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </v-app>
</template>

<script>
    export default {
        name: "AppHeader",
        data() {
            return {
                drawer: false
            }
        },
        computed: {
            menuItems() {
                return [
                    {
                        icon: 'account_balance',
                        title: 'Home',
                        route: '/'
                    },
                    {
                        icon: 'assignment',
                        title: 'Catalog',
                        route: '/catalog'
                    },
                    {
                        icon: 'euro_symbol',
                        title: 'Stock',
                        route: '/stock'
                    },
                    {
                        icon: 'next_week',
                        title: 'About',
                        route: '/about'
                    },
                    {
                        icon: 'contacts',
                        title: 'Contacts',
                        route: '/contacts'
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>