<template>
    <div id="app">
        <the-heading class="header"></the-heading>
        <router-view/>
        <the-footing class="footer"></the-footing>
    </div>
</template>

<script>
    import TheHeading from "./components/TheHeading"
    import TheFooting from "./components/TheFooting"

    export default {
        name: 'App',
        components: {TheHeading ,TheFooting},
        data() {
            return {
            }
        }
    }
</script>
<style scoped>
    .header {
        height: 5rem;
    }
    .footer {
        height: 2rem;
    }
</style>
