<template>
    <v-app>
        <v-container fluid>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Туристическре агенство БРИЗ</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, iste.
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout row>
                <v-flex d-flex xs12 sm6 md4>
                    <v-card color="indigo lighten-2" dark>
                        <v-card-title class="title">Туристическре агенство БРИЗ</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet.</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs12 sm6 md8>
                    <v-card color="blue darken-1" dark>
                        <v-card-title class="title">Туристическре агенство БРИЗ</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet.</v-card-text>
                    </v-card>
                    <v-card color="blue darken-1" dark>
                        <v-card-title class="title">Туристическре агенство БРИЗ</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet.</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        <v-card-title class="title">Туристическре агенство БРИЗ</v-card-title>
                        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, iste.
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout v-for="item in allNews"
                      :key="item.id">
                <v-flex d-flex xs12 sm12 md12>
                    <v-card color="blue lighten-3" dark>
                        {{item.name}}
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: 'Home',
        computed: {
            allNews() {
                return this.$store.getters.allNews
            }
        },
        mounted() {
            this.$store.dispatch('getNews')
        }
    }
</script>
